body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", serif;
}

.header {
    height:250px;
    display: flex;
    flex-direction: column;
    padding: 0px 150px;
    gap: 16px;
    background-color: lightgreen;
}

.top-header {
    display: flex;
    flex: 1 0 auto;
    flex-shrink: 0;
    justify-content: space-between;
    padding-top: 8px;
    background-color: bisque;
}

.sub-header {
    display: flex;
    flex: 3 0 auto;
    background-color: cadetblue;
    justify-content: space-between;
}

.left-sub {
    display: flex;
    flex: 1;
    background-color: crimson;
}

.right-sub {
    display: flex;
    flex: 1;
    background-color: brown;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: lightblue;
}

.first-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0px 200px;
    background-color: white;
}

.first-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-shrink: 0;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 16px;
}

.first-bottom {
    display: flex;
    justify-content: center;
    gap: 36px;
    flex: 2;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.card {
    max-width: 150px;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 21px;
    border: 2px solid #3882f6;
}

.text {
    color: #1F2937;
}

.second-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 100px 200px;
    background-color: #e5e7eb;
}

.second-top {
    display: flex;
    flex: 1;
}

.second-bottom {
    display: flex;
    flex: 1;
}

.third-content {
    display: flex;
    flex: 1;
    padding: 0px 150px;
    background-color: chocolate;
}

.footer {
    height:72px;
    display: flex;
    margin-top: auto;
    background-color: lightcoral;
}