body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", serif;
}

/* HEADER */

.header {
    height:400px;
    display: flex;
    flex-direction: column;
    padding: 0px 150px;
    padding-bottom: 100px;
    gap: 70px;
    background-color: #1F2937;
}

.top-header {
    display: flex;
    flex: 1 0 auto;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.links {
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
    justify-content: center;
}

ul {
    gap: 32px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.sub-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 300px;
}

.left-sub {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 16px;
}

.sub-title {
    display: flex;
    flex: 1;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    max-width: 500px;
}

.sub-paragraph {
    display: flex;
    flex: 1;
    font-size: 18px;
    color: #e5e7eb;
    max-width: 450px;
}

.sub-button {
    display: flex;
}

.subbutton {
    background: #3882f6;
    padding: 10px 25px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: bold;
}

.right-sub {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: white;
}

/* END OF HEADER */

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: lightblue;
}

/* FIRST DIVISION */

.first-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 100px 200px;
    padding-top: 50px;
    background-color: white;
}

.first-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-shrink: 0;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom: 50px;
}

.first-bottom {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex: 2;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.card {
    max-width: 150px;
}

.card-img {
    height: 150px;
    width: 150px;
    border-radius: 21px;
    border: 2px solid #3882f6;
}

.text {
    color: #1F2937;
    text-align: center;
}

/* END OF FIRST DIVISION */
/* SECOND DIVISION */

.second-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 100px 200px;
    background-color: #e5e7eb;
}

.second-top {
    width: 790px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    word-spacing: 3px;
}

.second-bottom {
    display: flex;
    flex: 1;
    width: 740px;
    justify-content: end;
    font-weight: 500;
}

/* END OF SECOND DIVISION */

/* THIRD DIVISION */

.third-content {
    display: flex;
    flex: 1;
    padding: 100px 300px;
    background-color: white;
    justify-content: center;
}

.third-container {
    display: flex;
    flex: 1;
    background-color: #3882f6;
    border: 0px solid #3882f6;
    border-radius: 10px;
    color: white;
    padding: 50px 90px;
    max-width: fit-content;
    gap: 150px;
}

.third-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 600px;
}

.third-left-top {
    font-weight: bold;
    font-size: 24px;
}

.third-left-bot {
    font-size: 18px;
}

.third-right {
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 18px;
    align-items: center;
    max-width: 120px;
    max-height: 40px;
    border: 2px solid white;
    border-radius: 15px;
    font-weight: bold;
}

.signup-button {
    background: none;
    padding: 12px 25px;
    border: none;
    font-size: 18px;
    color: inherit;
    font-weight: bold;
}

/* END OF THIRD DIVISION */

/* FOOTER */
.footer {
    height:72px;
    display: flex;
    margin-top: auto;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    align-items: center;
}

/* END OF FOOTER */