body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", serif;
}

.header {
    height:250px;
    display: flex;
    flex-direction: column;
    padding: 0px 150px;
    gap: 16px;
    background-color: lightgreen;
}

.top-header {
    display: flex;
    flex: 1 0 auto;
    flex-shrink: 0;
    justify-content: space-between;
    padding-top: 8px;
    background-color: bisque;
}

.sub-header {
    display: flex;
    flex: 3 0 auto;
    background-color: cadetblue;
    justify-content: space-between;
}

.left-sub {
    display: flex;
    flex: 1;
    background-color: crimson;
}

.right-sub {
    display: flex;
    flex: 1;
    background-color: brown;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: lightblue;
}

.first-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0px 200px;
    background-color: coral;
}

.first-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-shrink: 0;
}

.first-bottom {
    display: flex;
    flex: 2;
    flex-shrink: 0;
}

.second-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0px 200px;
    background-color: chartreuse;
}

.second-top {
    display: flex;
    flex: 1;
}

.second-bottom {
    display: flex;
    flex: 1;
}

.third-content {
    display: flex;
    flex: 1;
    padding: 0px 150px;
    background-color: chocolate;
}

.footer {
    height:72px;
    display: flex;
    margin-top: auto;
    background-color: lightcoral;
}